@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gameContainer {
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.dino {
  background-image: url("dino.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 233px;
  height: 114px;
  position: absolute;
  bottom: 0;
  left: 52px;
}

.obstacle {
  background-image: url("dragon.png");
  background-size: cover;
  width: 166px;
  height: 113px;
  position: absolute;
  bottom: 0;
  left: 44vw;
}

.obstacleAnimation {
  animation: obstacleAnimation 5s linear infinite;
}

.dinoJump {
  animation: dino 0.6s linear;
}

@keyframes dino {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 444px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes obstacleAnimation {
  0% {
    left: 100vw;
  }
  100% {
    left: -10vw;
  }
}

#gameOver {
  position: relative;
  top: 63px;
  font-size: 53px;
  text-align: center;
}

#scoreContainer {
  position: absolute;
  right: 45px;
  top: 31px;
  border: 3px solid black;
  padding: 10px;
  width: 170px;
  font-weight: bold;
  font-size: 25px;
}
#highContainer {
  position: absolute;
  left: 45px;
  top: 31px;
  border: 3px solid black;
  padding: 10px;
  width: 205px;
  font-weight: bold;
  font-size: 25px;
}
#start {
  position: relative;
  text-align: center;
  font-weight: bolder;
  top: 204px;
  font-size: 28px;
}

#reset {
  text-align: center;
  position: relative;
  top: 82px;
}

#reset button {
  width: 89px;
  height: 33px;
  background: transparent;
  font-size: 18px;
}

.controls {
  position: relative;
  top: 118px;
  left: 55px;
  font-weight: bolder;
  font-size: 25px;
}
