* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.sky {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: url("background.jpg") no-repeat;
}

.trees {
  height: 100vh;
  width: 100%;
  background: url("trees.png");
  background-size: cover;
  position: absolute;
  top: -144px;
}

.track {
  height: 60vh;
  width: 800vw;
  background: url("track.png") repeat-x;
  position: absolute;
  top: 70vh;
}

.car {
  height: 100px;
  width: 380px;
  background: url("car_body.png") no-repeat;
  background-size: cover;
  position: absolute;
  left: 444px;
  bottom: 30vh;
}

.wheelL img {
  width: 77px;
  position: relative;
  top: 38px;
  left: 42px;
}

.wheelR img {
    width: 77px;
    position: relative;
    top: -42px;
    left: 235px;
}

@keyframes wheelRotation {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes trackMove {
    100% {
        transform: translateX(-500vw);
    }
}

@keyframes shake {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-5px);
    }
}

@keyframes shakeBody {
    0% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(-50px);
    }
}

#start {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: auto;
    font-size: 2rem;
}