#clockContainer {
  position: relative;
  margin: auto;
  height: 40vw;
  width: 40vw;
  background: url("clock.png") no-repeat;
  background-size: 100%;
}

#hour,
#minute,
#second {
  position: absolute;
  background-color: black;
  border-radius: 10px;
}

#hour {
  width: 1.8%;
  height: 25%;
  top: 25%;
  left: 48.85%;
  opacity: 0.8;
  transform-origin: bottom;
}

#minute {
  width: 1.6%;
  height: 34.3%;
  top: 15%;
  left: 48.9%;
  opacity: 0.8;
  transform-origin: bottom;
}

#second {
  width: 1%;
  height: 40%;
  top: 9.5%;
  left: 49.3%;
  opacity: 0.8;
  transform-origin: bottom;
}

#start {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3rem;
}
