.bg {
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: "Varela Round", "sans-serif";
    display: flex;
    width: 80%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url("bg01.jpg");
    background-size: contain;
}

.album {
    display: flex;
}

.album a {
    margin: 15px;
    color: rgb(255, 230, 0);
    text-decoration: none;
}
.album a p {
    color: white;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
}

.album a :hover {
    opacity: 70%;
}