@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

  * {
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
}

nav {
    font-family: "Ubuntu", sans-serif;
}

nav ul {
    display: flex;
    align-items: center;

    list-style-type: none;
    height: 65px;
    background-color: black;
}

nav ul a {
    color: white;
    text-decoration: none;
}

nav ul li {
    padding: 0 12px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.menu {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100px;
}


.dropdown:hover .menu {
    display: block;
    background-color: black;
    color: white;
}

#brand img {
    width: 60px;
    padding: 0 8px;
}

#brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

#brand a {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.bg {
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: "Varela Round", "sans-serif";
    display: flex;
    width: 80%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url("bg1.jpg");
    background-size: cover;
}

.album {
    display: flex;
}

.album a {
    margin: 15px;
    color: rgb(255, 230, 0);
    text-decoration: none;
}
.album a p {
    color: white;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
}

.album a :hover {
    opacity: 70%;
}