.container {
    min-height: 100vh;
    background-color: black;
    color: white;
    font-family: "Varela Round", "sans-serif";
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url("bg02.jpg");
    background-size: cover;

}